<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.blog.question.mapper.QuestionMapper">
    <select id="getUserMonthQuestionTotal" resultType="map">
        select `t1`.`year_month`
        AS `year_month`,count(`t2`.`id`)
        AS `total`
        from ((select date_format(curdate(),'%Y-%m') AS `year_month`
        union select date_format((curdate() - interval 1 month),'%Y-%m') AS `year_month`
        union select date_format((curdate() - interval 2 month),'%Y-%m') AS `year_month`
        union select date_format((curdate() - interval 3 month),'%Y-%m') AS `year_month`
        union select date_format((curdate() - interval 4 month),'%Y-%m') AS `year_month`
        union select date_format((curdate() - interval 5 month),'%Y-%m') AS `year_month`) `t1`
        left join mxg_question `t2` on(((`t1`.`year_month` = date_format(`t2`.`create_date`,'%Y-%m'))
        and (`t2`.`status` != 0) and (t2.user_id=#{userId})))) group by `t1`.`year_month`
    </select>
<!--    根据问题id查询问题详情与属性标签ids-->
    <resultMap id="QuestionAndLabelIdsMap" type="Question">
        <id column="id" property="id"/>
        <result column="user_id" property="userId" />
        <result column="nick_name" property="nickName" />
        <result column="user_image" property="userImage" />
        <result column="title" property="title" />
        <result column="md_content" property="mdContent" />
        <result column="html_content" property="htmlContent" />
        <result column="view_count" property="viewCount" />
        <result column="thumhup" property="thumhup" />
        <result column="reply" property="reply" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <!--  映射标签id，一个问题对应多个标签id-->
        <collection property="labelIds" javaType="list" ofType="string">
            <id column="label_id" property="id" />
        </collection>

    </resultMap>

    <!--  通过问题id删除问题标签表数据-->
    <delete id="deleteQuestionLabel">
        DELETE FROM mxg_question_label WHERE question_id = #{questionId}
    </delete>

    <!--    新增问题标签中间表数据-->
    <insert id="saveQuestionLabel">
        INSERT INTO mxg_question_label(id, question_id, label_id)
        VALUES
        <foreach collection="labelIds" item="item" separator=",">
            ( '${@com.baomidou.mybatisplus.core.toolkit.IdWorker@getId()}', #{questionId}, #{item})
        </foreach>
    </insert>


    <select id="findReplaysByQuestionId" resultType="Replay">
        SELECT * FROM mxg_replay
        WHERE question_id = #{questionId}
    </select>

</mapper>
