<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newblognewsystem.system.mapper.RoleMapper">

    <!-- 根据角色ID查询角色 -->
    <select id="findRoleById" resultType="com.newland.blog.entities.Role">
    SELECT * FROM mxg_blog_system.sys_role WHERE id = #{id}
    </select>

    <!-- 插入角色与菜单的关联记录 -->
    <insert id="insertRoleMenus">
        INSERT INTO mxg_blog_system.sys_role_menu (id, role_id, menu_id)
        <foreach collection="menuIds" item="roleMenu" separator=",">
            (#{roleMenu.id}, #{roleMenu.roleId}, #{roleMenu.menuId})
        </foreach>
    </insert>

    <!-- 删除角色与菜单的关联记录 -->
    <delete id="deleteRoleMenus">
        DELETE FROM mxg_blog_system.sys_role_menu WHERE role_id = #{roleId}
    </delete>
</mapper>